input[type="text"] {
    position: relative;
    width: 80%;
}

.ahoveroff a:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
}

img {
    border: solid var(--font-color) 2px;
}

img.thumbnail {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

img.tinytiny {
    max-width: 16px;
    max-height: 16px;
    width: auto;
    height: auto;
    border: 0px
}

code::after {
    content: "";
    display: inline;
}
code::before {
    content: "";
    display: inline;
}