input[type="text"] {
    position: relative;
    width: 80%;
}

.ahoveroff a:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
}

img {
    border: solid var(--font-color) 2px;
}

img.thumbnaillarge {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

img.thumbnailsmall {
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

img.tinytiny {
    max-width: 16px;
    max-height: 16px;
    width: auto;
    height: auto;
    border: 0px
}

code::after {
    content: "";
    display: inline;
}
code::before {
    content: "";
    display: inline;
}

img.leftfloat {
    float: left;
    margin: 0px 15px 15px 0px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

.textblock {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .textblock {
        clear: both;
    }
}

pre.scroll {
    overflow-x: auto;
    white-space: pre;
}