input[type="text"] {
    position: relative;
    width: 80%;
}

.ahoveroff a:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
}

img {
    border: solid var(--font-color) 2px;
}